.App {
  text-align: center;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }  
}
.book-list{
  width: 60%;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.book-picture {
  width: 135px;
  margin: 15px
}
.book-text {
  width: 115px;
  word-wrap: normal;
  margin-left: 25px;
}
.seperator {
  
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.shelf {
  width:25%;
  border-left: 1px solid black;  
}
